{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "describe": true,
    "expect": true,
    "it": true,
    "fetch": true,
    "localStorage": true,
    "sessionStorage": true,
    "beforeEach": true,
    "beforeAll": true,
    "afterEach": true,
    "afterAll": true,
    "before": true,
    "context": true,
    "CustomEvent": true,
    "FormData": true,
    "jest": true
  },
  "rules": {
    "indent": ["error", 2, {"ignoredNodes": ["JSXElement"]}],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "comma-dangle": [1,"always-multiline"],
    "no-underscore-dangle": ["error", {"allowAfterThis" : true }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "semi": ["error", "never"],
    "max-len": 0,
    "import/no-duplicates": 0,
    "react/forbid-prop-types": [false],
    "react/jsx-closing-bracket-location": [false],
    "import/no-named-as-default": 0,
    "jsx-a11y/no-autofocus": 0
  }
}
