html, body {
  background-color: #fff;
  overflow-x: hidden
}

.slick-initialized {
  width: 100%
}


@media only screen and (max-width: 1560px) {
  .slick-initialized {
    width: 83%
  }
}

@media only screen and (max-width: 1400px) {
  .slick-initialized {
    width: 81%
  }
}

@media only screen and (max-width: 1220px) {
  .slick-initialized {
    width: 78%
  }
}

@media only screen and (max-width: 960px) {
  .slick-initialized {
    width: 100%;
    max-width: 61vw
  }
}

@media only screen and (max-width: 690px) {
  .slick-initialized {
    width: 100%;  
    max-width: 46vw
  }
}

@media only screen and (max-width: 600px) {
  .slick-initialized {
    width: 100%;  
    max-width: 58vw
  }
}
